	form {
border: 3px solid #f1f1f1;
margin-top: 25px;
width: 35%;
background-color: white;
text-align: center;
}
input[type=text], input[type=password] {
width: 80%;
padding: 12px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
box-sizing: border-box;
}
.oa {
padding: 10px;
}
button {
width: 80%;
padding: 12px;
margin: 8px 0;
background-color: #4CAF50;
color: white;
}
.imag {
text-align: center;
margin: 24px 0 12px 0;
}
.imeg {
width: 45%;
border-radius: 50%;
}
.canc {
background-color:#f44366;
}
body {
background-image: url("../Main Tab/media/Bg.jpg");
background-repeat: no-repeat;
background-size: 250%;
overflow: auto;
}
h1 {
text-align: center;
}
.moday {
display: none;
width: 100%;
overflow: auto;
}
.tutup {
position: absolute;
right: 25px;
color: #000;
font-size: 35px;
font-weight: bold;
}
modayten {
background-color: #fefefe;
margin: 5px auto;
border: 1px solid #888;
}
.katakana {
margin-left: 540px;
float: center;
width: 100px;
color: white;
background-color: #4CAF50;
}
@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px)  {
form {
width: 1000%;
}
	body {
		background-size: 300%;
	}
}
