/*background*/
html{
	background-image: url("bgpkl4.jpg");
	background-size: 90%;
}

/*Header*/
.top{
	width: 100%;
	height: 50px;
	background-color: blue;
	margin-top: -30px;
}

/*Jdul*/
.judul{
	text-align: left;
	color: white;
	font-size: 25px;
	padding-top: 10px;
	font-family: monospace;
}

.judul2{
	float: right;
	color: rgb(255, 255, 255);
	margin-top: -25px;
	font-size: 20px;
	margin-right: 10px;
	font-family: monospace;
}


/*Pengumuman*/
	/*Pemgumuman 1*/
.box{
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
	text-align: center;
	border: 5px solid blue ;
	padding: 1%;
	margin: 20px;
	background-color:rgba(23, 87, 184, 0.884);
	font-size: 200%;
	color: rgba(14, 236, 133, 0.932);
	font-family:monospace;
	opacity: 1;
}
.box2{
	text-align: center;
	border: 5px solid blue ;
	padding: 12.2%;
	margin: 20px;
	background-color:rgba(23, 87, 184, 0.884);
	font-size: 200%;
	color: white;
	font-family:monospace;
	opacity: 1;
}
	/*Pengumuman 2*/
.TwoNdBox{
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
	text-align: center;
	border: 0px solid cadetblue ;
	padding: 0px;
	margin: 0%;
	background-color:rgba(23, 87, 184, 0.884);
	font-size: 200%;
	color: white;
	font-family:monospace;
	opacity: 0;
	transform: translateY(-50%);
}
.TwoNdBox2{
	text-align: center;
	padding: 0%;
	margin: 0px;
	background-color:rgba(23, 87, 184, 0.884);
	font-size: 0%;
	color: white;
	font-family: monospace;
	opacity: 0;
}
	/*Tugas 3*/
.ExtendBox{
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
	text-align: center;
	border: 0px solid cadetblue ;
	padding: 0px;
	margin: 0%;
	background-color:rgba(23, 87, 184, 0.884);
	font-size: 200%;
	color: white;
	font-family: monospace;
	opacity: 0;
	transform: translateY(-70%);
}
.ExtendBox2{
	text-align: center;
	border: 0px solid cadetblue ;
	padding: 0%;
	margin: 0px;
	background-color:rgba(23, 87, 184, 0.884);
	font-size: 0%;
	color: white;
	font-family: monospace;
	opacity: 0;
}
	
	/*Tugas 4*/
.MaxBox{
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
	text-align: center;
	border: 0px solid cadetblue ;
	padding: 0px;
	margin: 0%;
	background-color:rgba(23, 87, 184, 0.884);
	font-size: 200%;
	color: white;
	font-family: monospace;
	opacity: 0;
	transform: translateY(-90%);
}
.MaxBox2{
	text-align: center;
	border: 0px solid cadetblue ;
	padding: 0%;
	margin: 0px;
	background-color:rgba(23, 87, 184, 0.884);
	font-size: 0%;
	color: white;
	font-family: monospace;
	opacity: 0;
}
/*Border*/
.BorderOne{
	width:98%;
	opacity: 1;
	margin-left:auto;
	margin-right: auto;
	transition: all 1s;
}
.BorderTwo{
	width:0%;
	opacity: 0;
	margin-left:auto;
	margin-right: auto;
	transition: all 1s;
	transform: translateY(-60px);
}
.BorderExtend{
	width:0%;
	opacity: 0;
	margin-left:auto;
	margin-right: auto;
	transition: all 1s;
	transform: translateY(-115px);
}
.BorderMax{
	width:0%;
	opacity: 0;
	margin-left:auto;
	margin-right: auto;
	transition: all 1s;
	transform: translateY(-155px);
}

/*Body things*/
*{
    margin: 0;
    padding: 0;
    
}


table, th, td {
	resize: both;
	width: auto;
	border: 0px solid black;
	font-size: 140%;
	position: relative;
	font-family: "Helvetica";
	transition: all 1s;
}

p{
	color: black;
    text-align: left;
	margin-left: 30px;
    margin-top: 25px;
	z-index: -5;
	transition: all 1s;
}


/*A link*/
a{
	color: white;
	text-decoration: none;
	transition: all 1s;
}
a:hover{
	color: rgb(17, 8, 151);
	text-decoration:underline;
	transition: all 1s;
	cursor: pointer;
}	

/*popup*/
	/*popupjudul*/	
.popup-judul{
	color:rgb(255, 255, 255);
	background-color: blue;
	font-family: monospace;
	font-size: 20px;
}

	/*popupisi*/
.popup-isi{
		font-size: 120%;
		padding-right: 15px;
	}
	/*popuppenutup*/
.popup-penutup{
	background-color: blue;
	color: white;
	transform: translateY(50%);
	margin-bottom:-100px;
}


pipa {
	background-image: linear-gradient(to bottom,#2a95c5,#21759b);
	background-image: -o-linear-gradient(to bottom,#2a95c5,#21759b);
	background-image: -ms-linear-gradient(to bottom,#2a95c5,#21759b);
	background-image: -moz-linear-gradient(to bottom,#2a95c5,#21759b);
	background-image: -webkit-linear-gradient(to bottom,#2a95c5,#21759b);
	background-color: #2e9fd2;
	width: 100px;
	height: 300px;
	vertical-align: middle;
	padding: 10px;
	color: #fff;
	text-decoration: none;
	border: 1px solid transparent;
	border-radius: 5px;

	}
	
#popup {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999;
	visibility: hidden;
	margin-top: -56px;
	
	}	

#popup1 {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999;
	visibility: hidden;
	margin-top: -56px;
	}

#popup2 {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999;
	visibility: hidden;
	margin-top: -56px;
	}
#popup3 {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999;
	visibility: hidden;
	margin-top: -56px;
	}
		
	
.window {
	width: 80%;
	background: #fff;
	border-radius: 5px;
	position: relative;
	box-shadow: 0 0 5px rgba(0,0,0,.4);
	text-align: center;
	margin: 15% auto;
	font-family: monospace;
	
	}
	
.close-button {
	width: 20px;
	height: 20px;
	background: #000;
	border-radius: 50%;
	border: 3px solid #fff;
	display: block;
	text-align: center;
	color: #fff;
	text-decoration: none;
	position: absolute;
	top: -10px;
	right: -10px;
	}
	
#popup:target {
	visibility: visible;
	}

#popup1:target {
	visibility: visible;
	}

#popup2:target{
	visibility: visible;
}
#popup3:target{
	visibility: visible;
}

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px)  {
.popup-isi{
	font-size: 80%;
}
}