/*Tugas*/
	/*Tugas 1*/
.box{
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
	text-align: center;
	border: 5px solid cadetblue ;
	padding: 1%;
	margin: 20px;
	background-color:rgba(95,158,160,0.5);
	font-size: 200%;
	color: white;
	font-family: "Helvetica";
	opacity: 1;
}
.box2{
	text-align: center;
	border: 5px solid cadetblue ;
	padding: 12.2%;
	margin: 20px;
	background-color:rgba(95,158,160,0.5);
	font-size: 200%;
	color: white;
	font-family: "Helvetica";
	opacity: 1;
}
	/*Tugas 2*/
.TwoNdBox{
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
	text-align: center;
	border: 0px solid cadetblue ;
	padding: 0px;
	margin: 0%;
	background-color:rgba(95,158,160,0.5);
	font-size: 0%;
	color: white;
	font-family: "Helvetica";
	opacity: 0;
	transform: translateY(-50%);
	transform: translateX(-100%);
}
.TwoNdBox2{
	text-align: center;
	border: 0px solid cadetblue ;
	padding: 0%;
	margin: 0px;
	background-color:rgba(95,158,160,0.5);
	font-size: 0%;
	color: white;
	font-family: "Helvetica";
	opacity: 0;
}
	/*Tugas 3*/
.ExtendBox{
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
	text-align: center;
	border: 0px solid cadetblue ;
	padding: 0px;
	margin: 0%;
	background-color:rgba(95,158,160,0.5);
	font-size: 0%;
	color: white;
	font-family: "Helvetica";
	opacity: 0;
	transform: translateY(-70%);
	transform: translateX(-100%);
}
.ExtendBox2{
	text-align: center;
	border: 0px solid cadetblue ;
	padding: 0%;
	margin: 0px;
	background-color:rgba(95,158,160,0.5);
	font-size: 0%;
	color: white;
	font-family: "Helvetica";
	opacity: 0;
}
	
	/*Tugas 4*/
.MaxBox{
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
	text-align: center;
	border: 0px solid cadetblue ;
	padding: 0px;
	margin: 0%;
	background-color:rgba(95,158,160,0.5);
	font-size: 0%;
	color: white;
	font-family: "Helvetica";
	opacity: 0;
	transform: translateY(-90%);
	transform: translateX(-100%);
}
.MaxBox2{
	text-align: center;
	border: 0px solid cadetblue ;
	padding: 0%;
	margin: 0px;
	background-color:rgba(95,158,160,0.5);
	font-size: 0%;
	color: white;
	font-family: "Helvetica";
	opacity: 0;
}
/*Border*/
.BorderOne{
	width:98%;
	opacity: 1;
	margin-left:auto;
	margin-right: auto;
	transition: all 1s;
}
.BorderTwo{
	width:0%;
	opacity: 0;
	margin-left:auto;
	margin-right: auto;
	transition: all 1s;
	transform: translateY(-30px);
}
.BorderExtend{
	width:0%;
	opacity: 0;
	margin-left:auto;
	margin-right: auto;
	transition: all 1s;
	transform: translateY(-50px);
}
.BorderMax{
	width:0%;
	opacity: 0;
	margin-left:auto;
	margin-right: auto;
	transition: all 1s;
	transform: translateY(-55px);
}

/*Body things*/
*{
    margin: 0;
    padding: 0;
    
}

body{
    position: relative;
    background-image: url("../media/Bg.jpg");
	background-repeat: repeat-y;
	background-size: 150%;
	z-index: -5;
	transition: all 1s;
}

table, th, td {
	resize: both;
	width: auto;
	border: 0px solid black;
	font-size: 140%;
	position: relative;
	font-family: "Helvetica";
	transition: all 1s;
}

p{
	color: black;
    text-align: left;
	margin-left: 30px;
    margin-top: 25px;
	z-index: -5;
	transition: all 1s;
}

/*Navigasi*/
nav{
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
    display: flex;
    background-color: cadetblue;
    opacity: 0.5;
    justify-content: space-around;
    color: rgb(198, 238, 198);
    height: 50px;
    align-items: center;
    z-index: 100;
	transition: all 1s;
}

nav .logo{
	color: white;
    font-family: 'Libre Caslon Text', serif;
    letter-spacing: 3px;
    font-size: 1.2em;
	transition: all 1s;
}

nav ul{
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
	transition: all 1s;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-family: 'Roboto Slab', serif;
	transition: all 1s;
}

nav ul li a:hover{
    color: black;
	background: #ddd;
}

/*A link*/
a{
	color: white;
	text-decoration: none;
	transition: all 1s;
}
a:hover{
	color: cornflowerblue;
	text-decoration: underline;
	transition: all 1s;
	cursor: pointer;
	text-shadow: 2px 2px 4px #000000;
}
/*Dark button*/
.dark{
	border: none;
	background-color: transparent;
	transition: all 1s;
}

/* Hamburger Menu */
.menu-toggle{
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

.menu-toggle input{
    position: absolute;
    width: 40px;
    height: 28px;
    left: -5px;
    top: -5px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.menu-toggle span{
    display: block;
    width: 28px;
    height: 3px;
    background-color: white;
    border-radius: 3px;
    transition: 0.5s;
}

/* Hamburger Menu Animation */
.menu-toggle span:nth-child(2){
    transform-origin: 0 0;
}

.menu-toggle span:last-child{
    transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2){
    background-color: white;
    transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(3){
    opacity: 0;
    transform: scale(0);
}

.menu-toggle input:checked ~ span:last-child{
    background-color: white;
    transform: rotate(-45deg) translate(-1px, 0);;
}

/* Responsive Breakpoint */

/* Ukuran Tablet */
@media screen and (max-width: 768px){
    nav ul{
        width: 55%;
        justify-content: space-between;
    }
}

/* Ukuran Mobile */
@media screen and (max-width: 576px){
    .menu-toggle {
        display: flex;
    }

    nav ul{
        position: fixed;
        right: 0;
        top: 0;
        width: 0%;
        height: 100vh;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center; 
        background-color: cadetblue;
        transform: translateX(100%);
        transition: all 1s;
        opacity: 0;
    }
	body {
		background-size: 300%;
	}

    nav ul.slide{
		position: absolute;
        opacity: 1;
        transform: translateX(0);
		width: 30%;
    }
