.dark{
	border: none;
	background-color: transparent;
	transition: all 1s;
}
.progres label{
	font-size: 0%;
	transform: translateX(500%);
	margin-left: 3%;
	opacity: 0;
	transition: all 1s;
}
.progres progress{
	width: 0%;
	margin-left: auto;
	margin-right: auto;
	font-size: 0%;
	transform: translateX(50%);
	transition: all 1s;
	opacity: 0;
}
a{
	color: black;
	text-decoration: none;
	transition: all 1s;
}
a:hover{
	color: blue;
	text-decoration: underline;
	transition: all 1s;
	text-shadow: 2px 2px 4px #000000;
}
.center {
	width: auto;
  	color:black;
  	margin-right: auto;
  	margin-bottom: auto;
	transition: all 1s;
}
.center img{
	width: 100%;
}
.ov hr{
	opacity: 0;
	width:0%;
	margin-left:auto;
	margin-right: auto;
	align-content: center;
	transition: all 0.5s;
}
.center2 {
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  	font-family: 'Libre Caslon Text', serif;
  	color:black;
  	margin-left: auto;
  	margin-right: auto;
  	margin-bottom: auto;
  	margin-top: auto;
  	text-align: center;
  	opacity: 0.8;
  	transform: translateY(30%);
  	font-size: 500%;
  	transition: all 1s;
}
.center2 a:hover{
	color: cadetblue;
	text-decoration: none;
	transition: all 1s;
	cursor: pointer;
}
.bio {
  	margin-left: 50px;
  	margin-top: 50px;
  	margin-right: auto;
  	color: black;
  	align-items: center;
  	z-index: -5;
	transition: all 1s;
}
*{
    margin: 0;
    padding: 0;
    
}

body{
    position: relative;
    background-image: url("../media/Bg.jpg");
	background-repeat: repeat-y;
	background-size: 150%;
	z-index: -5;
	transition: all 1s;
}

table, th, td {
	resize: both;
	width: auto;
  	border: 0px solid black;
  	font-size: 140%;
  	position: relative;
  	font-family: "Helvetica";
	transition: all 1s;
}
p{
    text-align: left;
	margin-left: 500px;
    margin-top: 25px;
    color: white;
	z-index: -5;
	transition: all 1s;
}

/* Navbar */
nav{
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
    display: flex;
    background-color: cadetblue;
    opacity: 0.5;
    justify-content: space-around;
    color: rgb(198, 238, 198);
    height: 50px;
    align-items: center;
    z-index: 2;
	transition: all 1s;
}

nav .logo{
	color: white;
    font-family: 'Libre Caslon Text', serif;
    letter-spacing: 3px;
    font-size: 1.2em;
	transition: all 1s;
}

nav ul{
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
	transition: all 1s;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-family: 'Roboto Slab', serif;
	transition: all 1s;
}

nav ul li a:hover{
    color: black;
	background: #ddd;
}

/* Hamburger Menu */
.menu-toggle{
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

.menu-toggle input{
    position: absolute;
    width: 40px;
    height: 28px;
    left: -5px;
    top: -5px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.menu-toggle span{
    display: block;
    width: 28px;
    height: 3px;
    background-color: white;
    border-radius: 3px;
    transition: 0.5s;
}

/* Hamburger Menu Animation */
.menu-toggle span:nth-child(2){
    transform-origin: 0 0;
}

.menu-toggle span:last-child{
    transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2){
    background-color: white;
    transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(3){
    opacity: 0;
    transform: scale(0);
}

.menu-toggle input:checked ~ span:last-child{
    background-color: white;
    transform: rotate(-45deg) translate(-1px, 0);;
}


/* Responsive Breakpoint */

/* Ukuran Tablet */
@media screen and (max-width: 768px){
    nav ul{
        width: 55%;
        justify-content: space-between;
    }
}

/* Ukuran Mobile */
@media screen and (max-width: 576px){
    .menu-toggle {
        display: flex;
    }
@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, th, td, tr { 
		font-size: 95%;
	}
	.bio {
		margin-left: 5%;
		margin-top: 5%;
	}
	.center2{
		font-size: 400%;
		transform: translateY(150%);
	}
	.center img{
		width: 90%;
	}
	/* Hide table headers (but not display: none;, for accessibility) */
	tr { 
		position: relative;
		
	}
	body {
		background-size: 300%;
	}
	td { 
		/* Behave  like a "row" */
		border: none;
		position: relative;
	}
	
	td:before { 
		/* Now like a table header */
		position: relative;
		/* Top/left values mimic padding */
		white-space: nowrap;
	}

    nav ul{
        position: fixed;
        right: 0;
        top: 0;
        width: 0%;
        height: 100vh;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center; 
        background-color: cadetblue;
        transform: translateX(100%);
        transition: all 1s;
        opacity: 0;
    }

    nav ul.slide{
		position: absolute;
        opacity: 1;
        transform: translateX(0);
		width: 30%;
    }
	